body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.color-red {
    color: red;
}
p {
    color: dimgray;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
.half-width {
    width: 34%;
    height: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
section {
    height: 500px;
    padding-bottom: 150px;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(255, 81, 81), tomato);
    padding: 30px;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    /* margin-left: 200px; */
}
.third-width {
    box-shadow: 10px 10px 40px gray;
    border-radius:5px ;
    height: 80%;
    background-color: white;
    width: 25%;
    float: left;
    margin: 3%;
    padding-left: 2%;
}
.third-width img {
    width: 90%;
    margin: 3%;
    border: 20px;
    border-image: linear-gradient(360deg, blue, dodgerblue);
}
.third1 {
    width: 100%;
    padding: 2px 20px;

}
.third-section {
    background-color: #bbb;
    height: 700px;
}

.third-section {
    width: 100%;
}
#id1 {
    text-align: center;
}
.inquiry-section{
    position: relative;
     top: 50%; 
    left: 18%;
    right: 0%;
    border-radius: 25px;
    background-image: url("Images/Group_33094_1.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 60px;
    width: 63%;
    padding-left: 40px;
   
   }
   .inquiry-width{
       width: 40%;
       float: left;
       margin-left: 6%;
       margin-top: 3.5%;
       color:#ffffffd8;
      
       
   }

   .inquiry-section a{
       color: white;
       background-image: linear-gradient(180deg,tomato,#eb7648);
       border-radius: 10px;
   }
   #full-stack {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

   footer{
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.footer1 {
    color:black;
    text-align: center;
    font-size: medium;
}
.footer-img{
   width: 40px;
    margin-right: 20px;
}